
<h1>Welcome to Money Waster</h1>
<form action="" method="">
    <h2>What did you <u>waste</u> your money on this time?</h2>

    <label for="item">Item:</label>
    <input type="text" name="item" id="item" required>
    <br>
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price" id="price" min="0" required>
    <br>
    <br>
    <div id="wasted_check">
        <p>Wasted money?</p>
        <label for="wasted">Yes</label>
        <input type="radio" name="wasted" id="wasted" value="yes">
        <label for="not_wasted">No</label>
        <input type="radio" name="wasted" id="not_wasted" value="no">
        <div>
        <br>
        <input type="submit" value="Submit">
    </div>
     </form>
