<!DOCTYPE html>

<html>

<head>
    <title>Money Waster</title>
    <link href="./style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown_content">
                            <a href="">Today</a>
                            <a href="">This Month</a>
                            <a href="">This Year</a>
                        </div>
                    </div>
                </li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= yield %>
    </main>
</body>

</html>