<!DOCTYPE html>

<html>

<head>
    <title>Money Waster</title>
    <link href="../public/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Expenses</li>
                <li>Sign Out</li>
            </ul>
        </nav>
    </header>
    <main>
        <%= yield %>
    </main>
</body>

</html>