<!DOCTYPE html>

<html>

<head>
    <title>Money Waster</title>
    <link href="../public/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/select_timeframe">Expenses</a></li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%= yield %>
    </main>
</body>

</html>