
<h1>Welcome to Money Waster</h1>
<form action="/register_user" method="POST">
    <h3>In order to register please enter a username and password:</h3>
    <% if session[:message] %>
        <div class="error-message">
            <p><%=session.delete(:message) %></p>
        </div>
    <% end %>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"  required minlength="8">
    <br>
    <br>
    <input type="submit" value="Submit">
 </form>
