<form action="/stats" method="POST">
    <h3>Select the timeframe for your expenses:</h3>
    <label for="start_date">
    <input type="date" name="start_date" id="start_date" required>
    <label for="end_date">
    <input type="date" name="end_date" id="end_date" required>
    <input type="submit" value="Submit">
</form>
